@page "/services"
@using Syncfusion.Blazor.DropDowns
@using System.Collections.Specialized
@using System.Collections

@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject IServiceRepository repository


<h3>Manage Categories</h3>
@if (Service != null){
<table class="table">
    <thead>
        <tr>
            <th>Name En</th>
            <th>Name Ar</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Service)
        {
            <tr>
                <td>@item.NameEn</td>
                <td>@item.NameAr</td>
                <td>@item.IsActive</td>
                <td>
                        @if(@item.IsActive != true){
                            <button type="button" @onclick="@(() => toggle(true,item.Id))" class="btn btn-sm">Make Active</button>
                        } else{
                        <button type="button" @onclick="@(() => toggle(false,item.Id))" class="btn btn-sm">Make Inactive</button>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>
}


@code {


    IEnumerable<SrvService> Service = new List<SrvService>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        LoadService();
    }

    private void LoadService()
    {
        Service = repository.GetServiceAdmin();
    }

    private void toggle(bool val,int id)
    {
        repository.Toggle(val,id);
        toastService.ShowSuccess("Success");
        LoadService();
    }

    public void RefState()
    {
        this.StateHasChanged();
    }

}
